<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="main-layout">
<div layout:fragment="content">


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Match time</th>
            <th>Teams</th>
            <th>Odds</th>
            <th>Selection</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bet: ${slipBets}" th:object="${bet}">
            <td th:text="${#temporals.format(bet.game.startTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="|*{game.homeTeam.name} vs *{game.awayTeam.name}|"></td>
            <td th:text="*{odds}"></td>
            <td th:text="*{betType}"></td>
        </tr>
        </tbody>
    </table>

</div>
</html>