<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="main-layout">
<head>
    <meta charset="UTF-8">
    <title>Bet History</title>
</head>
<body>
<div layout:fragment="content">

    <table class="table table-bordered" width="80%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Final Odds</th>
            <th>Stake</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="betSlip, iterStat: ${betHistory}" th:object="${betSlip}">
            <td th:text="*{id}"></td>
            <td th:text="*{betSlipType}"></td>
            <td th:text="*{finalOdds}"></td>
            <td th:text="*{stake}"></td>
            <td><a th:href="@{'/slip/details/' + ${betSlip.id}}" th:text="'Bet details'"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>